In [45]:
import pandas as pd
import json
import os
import numpy as np
import datetime

# Data Loading

In [46]:
try:
    data = pd.read_csv('../data/v20240401_v2_csv.csv', sep=';')
except Exception as e:
    print(f"An error occurred: {e}")

/var/folders/tt/59b1f78918g9z5zhcmxxssqm0000gn/T/ipykernel_53147/595523557.py:2: DtypeWarning: Columns (11,13,14,15,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/v20240401_v2_csv.csv', sep=';')

In [47]:
df = data

In [49]:
#Rename column in english
df.columns = [
    'Building_admission_date',  # Pand_opnamedatum
    'Building_admission_type',  # Pand_opnametype
    'Building_status',  # Pand_status
    'Building_calculation_type',  # Pand_berekeningstype
    'Building_energy_index',  # Pand_energieindex
    'Building_energy_class',  # Pand_energieklasse
    'Building_energy_label_is_private',  # Pand_energielabel_is_prive
    'Building_based_on_reference_building',  # Pand_is_op_basis_van_referentie_gebouw
    'Building_class',  # Pand_gebouwklasse
    'Measurement_valid_until',  # Meting_geldig_tot
    'Building_registration_date',  # Pand_registratiedatum
    'Building_postcode',  # Pand_postcode
    'Building_house_number',  # Pand_huisnummer
    'Building_house_letter',  # Pand_huisletter
    'Building_house_number_addition',  # Pand_huisnummertoevoeging
    'Building_detail_designation',  # Pand_detailaanduiding
    'Building_bag_residence_object_id',  # Pand_bagverblijfsobjectid
    'Building_bag_mooring_place_id',  # Pand_bagligplaatsid
    'Building_bag_standing_place_id',  # Pand_bagstandplaatsid
    'ref:bag',  # Pand_bagpandid
    'Building_type',  # Pand_gebouwtype
    'Building_subtype',  # Pand_gebouwsubtype
    'Building_project_name',  # Pand_projectnaam
    'Building_project_object',  # Pand_projectobject
    'Building_SBI_code',  # Pand_SBIcode
    'Building_usable_floor_area_thermal_zone',  # Pand_gebruiksoppervlakte_thermische_zone
    'Building_energy_requirement',  # Pand_energiebehoefte
    'Building_requirement_energy_requirement',  # Pand_eis_energiebehoefte
    'Building_primary_fossil_energy',  # Pand_primaire_fossiele_energie
    'Building_requirement_primary_fossil_energy',  # Pand_eis_primaire_fossiele_energie
    'Building_primary_fossil_energy_EMG_standard',  # Pand_primaire_fossiele_energie_EMG_forfaitair
    'Building_share_renewable_energy',  # Pand_aandeel_hernieuwbare_energie
    'Building_requirement_share_renewable_energy',  # Pand_eis_aandeel_hernieuwbare_energie
    'Building_share_renewable_energy_EMG_standard',  # Pand_aandeel_hernieuwbare_energie_EMG_forfaitair
    'Building_temperature_exceedance',  # Pand_temperatuuroverschrijding
    'Building_requirement_temperature_exceedance',  # Pand_eis_temperatuuroverschrijding
    'Building_heat_demand',  # Pand_warmtebehoefte LDD
    'Building_energy_index_with_EMG_standard'  # Pand_energieindex_met_EMG_forfaitair
]

df = df.dropna(subset=['ref:bag'])
df['ref:bag'] = df['ref:bag'].astype(int)

In [50]:
df

,Building_admission_date,Building_admission_type,Building_status,Building_calculation_type,Building_energy_index,Building_energy_class,Building_energy_label_is_private,Building_based_on_reference_building,Building_class,Measurement_valid_until,...,Building_primary_fossil_energy,Building_requirement_primary_fossil_energy,Building_primary_fossil_energy_EMG_standard,Building_share_renewable_energy,Building_requirement_share_renewable_energy,Building_share_renewable_energy_EMG_standard,Building_temperature_exceedance,Building_requirement_temperature_exceedance,Building_heat_demand,Building_energy_index_with_EMG_standard
62699,20230929,Detailopname,Vergunningsaanvraag,NTA 8800:2023 (detailopname woningbouw),NaN,NaN,NaN,0,W,20330929,...,49.99,50.0,147.15,72.6,40.0,NaN,0.60,1.2,46.99,NaN
62700,20230929,Detailopname,Vergunningsaanvraag,NTA 8800:2023 (detailopname woningbouw),NaN,NaN,NaN,0,W,20330929,...,49.99,50.0,147.15,72.6,40.0,NaN,0.60,1.2,46.99,NaN
62701,20230929,Detailopname,Vergunningsaanvraag,NTA 8800:2023 (detailopname woningbouw),NaN,NaN,NaN,0,W,20330929,...,49.99,50.0,147.15,72.6,40.0,NaN,0.60,1.2,46.99,NaN
62702,20230929,Detailopname,Vergunningsaanvraag,NTA 8800:2023 (detailopname woningbouw),NaN,NaN,NaN,0,W,20330929,...,49.99,50.0,147.15,72.6,40.0,NaN,0.60,1.2,46.99,NaN
62703,20230929,Detailopname,Vergunningsaanvraag,NTA 8800:2023 (detailopname woningbouw),NaN,NaN,NaN,0,W,20330929,...,49.99,50.0,147.15,72.6,40.0,NaN,0.60,1.2,46.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5573478,20231121,Basisopname,Bestaand,NTA 8800:2023 (basisopname woningbouw),NaN,F,NaN,0,W,20331121,...,339.84,NaN,339.84,0.0,NaN,NaN,1.87,NaN,243.00,NaN
5573484,20210712,Basisopname,Bestaand,NTA 8800:2020 (basisopname woningbouw),NaN,A,NaN,0,W,20310712,...,131.42,NaN,NaN,19.2,NaN,NaN,1.31,NaN,103.21,NaN
5573494,20221115,Basisopname,Bestaand,NTA 8800:2022 (basisopname woningbouw),NaN,C,NaN,0,W,20321115,...,202.24,NaN,202.24,14.9,NaN,NaN,0.91,NaN,147.86,NaN
5573495,20221115,Basisopname,Bestaand,NTA 8800:2022 (basisopname woningbouw),NaN,C,NaN,0,W,20321115,...,203.03,NaN,203.03,14.8,NaN,NaN,1.03,NaN,148.53,NaN
5573499,20210519,Basisopname,Bestaand,NTA 8800:2020 (basisopname woningbouw),NaN,G,NaN,0,W,20310519,...,386.07,NaN,386.07,0.0,NaN,0.0,0.55,NaN,292.65,NaN

# Import zone_df

In [51]:
zone_df = pd.read_csv('../data/zone_df.csv')
zone_df

,Unnamed: 0,nodes,addr:city,addr:housenumber,addr:postcode,addr:street,building,ref:bag,source,source:date,...,addr:housename,residential,house_no,street,postcode,house_name,resi_type,city,country,geometry
0,0,"[2823890612, 2823890624, 2823890634, 282389064...",Amsterdam,100,1019AW,Borneokade,houseboat,363020001016622,BAG,2014-03-24,...,NaN,NaN,100,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9500423 52.3714489, 4.9500412 52.3..."
1,1,"[2823890654, 2823890665, 2823890671, 282389068...",Amsterdam,102,1019AW,Borneokade,houseboat,363020001016623,BAG,2014-03-24,...,NaN,NaN,102,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9501596 52.3714621, 4.9501619 52.3..."
2,2,"[2823890715, 2823890724, 2823890731, 282389073...",Amsterdam,104,1019AW,Borneokade,houseboat,363020001016624,BAG,2014-03-24,...,NaN,NaN,104,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9503908 52.3714763, 4.9503904 52.3..."
3,3,"[2823890792, 2823890142, 2823890062, 282389005...",Amsterdam,106,1019AW,Borneokade,houseboat,363020001016625,BAG,2014-03-24,...,NaN,NaN,106,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9505728 52.3715112, 4.9506183 52.3..."
4,4,"[2823890572, 2823890579, 2823890589, 282389060...",Amsterdam,108,1019AW,Borneokade,houseboat,363020001016626,BAG,2014-03-24,...,NaN,NaN,108,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9507305 52.3714279, 4.950729 52.37..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,127,"[2823890616, 2823890549, 2823890522, 282389065...",NaN,NaN,NaN,NaN,house,363100012093580,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4.9473652 52.3714632, 4.9473606 52.3..."
128,128,"[2823891910, 2823891796, 2823891692, 282389174...",NaN,NaN,NaN,NaN,apartments,363100012106034,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4.9503561 52.3724395, 4.9491906 52.3..."
129,129,"[8376893098, 8376893097, 8376893096, 837689309...",Amsterdam,62C,1019AW,Borneokade,houseboat,363020012061362,BAG,2021-01-29,...,NaN,NaN,62C,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9465107 52.3710976, 4.9466275 52.3..."
130,130,"[8376893102, 8376893101, 8376893100, 837689309...",Amsterdam,62D,1019AW,Borneokade,houseboat,363020012061363,BAG,2021-01-29,...,NaN,NaN,62D,Borneokade,1019AW,NaN,NaN,Amsterdam,NaN,"POLYGON ((4.9466636 52.3711146, 4.9467804 52.3..."
131,131,"[[[2823891347, 2823890046, 2823890014, 2823889...",NaN,NaN,NaN,NaN,apartments,363100012086724,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4.9463997 52.3712993, 4.9464325 52.3..."

In [52]:
zone_df.dtypes

Unnamed: 0            int64
nodes                object
addr:city            object
addr:housenumber     object
addr:postcode        object
addr:street          object
building             object
ref:bag               int64
source               object
source:date          object
fixme                object
start_date          float64
wikidata             object
floating             object
ways                 object
height                int64
name                 object
type                 object
building:levels       int64
REFERENCE            object
roof:levels           int64
floors_ag             int64
height_ag           float64
height_bg           float64
floors_bg             int64
description         float64
category             object
Name                 object
addr:country        float64
addr:housename      float64
residential         float64
house_no             object
street               object
postcode             object
house_name          float64
resi_type           float64
city                 object
country             float64
geometry             object
dtype: object

In [53]:
merged_df = pd.merge(zone_df, df,on='ref:bag', how='left')
merged_df

,Unnamed: 0,nodes,addr:city,addr:housenumber,addr:postcode,addr:street,building,ref:bag,source,source:date,...,Building_primary_fossil_energy,Building_requirement_primary_fossil_energy,Building_primary_fossil_energy_EMG_standard,Building_share_renewable_energy,Building_requirement_share_renewable_energy,Building_share_renewable_energy_EMG_standard,Building_temperature_exceedance,Building_requirement_temperature_exceedance,Building_heat_demand,Building_energy_index_with_EMG_standard
0,0,"[2823890612, 2823890624, 2823890634, 282389064...",Amsterdam,100,1019AW,Borneokade,houseboat,363020001016622,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"[2823890654, 2823890665, 2823890671, 282389068...",Amsterdam,102,1019AW,Borneokade,houseboat,363020001016623,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"[2823890715, 2823890724, 2823890731, 282389073...",Amsterdam,104,1019AW,Borneokade,houseboat,363020001016624,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"[2823890792, 2823890142, 2823890062, 282389005...",Amsterdam,106,1019AW,Borneokade,houseboat,363020001016625,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"[2823890572, 2823890579, 2823890589, 282389060...",Amsterdam,108,1019AW,Borneokade,houseboat,363020001016626,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,127,"[2823890616, 2823890549, 2823890522, 282389065...",NaN,NaN,NaN,NaN,house,363100012093580,BAG,2014-03-24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,128,"[2823891910, 2823891796, 2823891692, 282389174...",NaN,NaN,NaN,NaN,apartments,363100012106034,BAG,2014-03-24,...,117.28,NaN,117.28,0.0,NaN,NaN,0.64,NaN,85.39,NaN
134,129,"[8376893098, 8376893097, 8376893096, 837689309...",Amsterdam,62C,1019AW,Borneokade,houseboat,363020012061362,BAG,2021-01-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,130,"[8376893102, 8376893101, 8376893100, 837689309...",Amsterdam,62D,1019AW,Borneokade,houseboat,363020012061363,BAG,2021-01-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,131,"[[[2823891347, 2823890046, 2823890014, 2823889...",NaN,NaN,NaN,NaN,apartments,363100012086724,BAG,2014-03-24,...,99.99,NaN,187.62,23.4,NaN,0.0,0.28,NaN,156.06,NaN

In [54]:
df['ref:bag']

62699       293100000228679
62700       293100000228679
62701       293100000228679
62702       293100000228679
62703       293100000228679
                 ...
5573478    1651100000012334
5573484    1651100000012512
5573494    1651100000008606
5573495    1651100000008603
5573499    1651100000012472
Name: ref:bag, Length: 1523746, dtype: int64

In [55]:
zone_df['ref:bag']

0      363020001016622
1      363020001016623
2      363020001016624
3      363020001016625
4      363020001016626
            ...
127    363100012093580
128    363100012106034
129    363020012061362
130    363020012061363
131    363100012086724
Name: ref:bag, Length: 132, dtype: int64

In [56]:
df[df['ref:bag']==363020001016626]

Empty DataFrame
Columns: [Building_admission_date, Building_admission_type, Building_status, Building_calculation_type, Building_energy_index, Building_energy_class, Building_energy_label_is_private, Building_based_on_reference_building, Building_class, Measurement_valid_until, Building_registration_date, Building_postcode, Building_house_number, Building_house_letter, Building_house_number_addition, Building_detail_designation, Building_bag_residence_object_id, Building_bag_mooring_place_id, Building_bag_standing_place_id, ref:bag, Building_type, Building_subtype, Building_project_name, Building_project_object, Building_SBI_code, Building_usable_floor_area_thermal_zone, Building_energy_requirement, Building_requirement_energy_requirement, Building_primary_fossil_energy, Building_requirement_primary_fossil_energy, Building_primary_fossil_energy_EMG_standard, Building_share_renewable_energy, Building_requirement_share_renewable_energy, Building_share_renewable_energy_EMG_standard, Building_temperature_exceedance, Building_requirement_temperature_exceedance, Building_heat_demand, Building_energy_index_with_EMG_standard]
Index: []

[0 rows x 38 columns]

In [44]:
df.shape[0]/1e6

1.511521